[Unit]
Description=FastAPI RDS API
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/fastapi-rds-api
EnvironmentFile=/home/ubuntu/fastapi-rds-api/.env
ExecStart=/home/ubuntu/fastapi-rds-api/.venv/bin/fastapi run main.py --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
